.infusion-locator-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

/* ------------------------------------------------------------------
   Header
------------------------------------------------------------------- */

.locator-header {
  margin-bottom: 24px;
}

.locator-header h2 {
  color: var(--brand-teal-muted);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 16px;
  line-height: 36px;
  font-family: proxima-nova;
  font-size: 26px;
  margin: 0px;
}

.locator-header p {
  margin: 8px 0;
  text-align: center;
}

.locator-header #form-subtitle {
  font-weight: 700;
  padding: 0px 30px;
  font-size: 18px;
  color: var(--text-color);
  line-height: 22px;
  padding-bottom: 8px;
  ;
}

#form-requiredtext {
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0 !important;
  margin-bottom: 16px !important;
}

/* ------------------------------------------------------------------
   Search
------------------------------------------------------------------- */

.locator-search {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.locator-search .field-wrapper {
  width: 100%;
}

.locator-search .field-wrapper.text-wrapper {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.locator-search .field-wrapper.text-wrapper label {
  position: absolute;
  top: 0;
  margin-top: 10px;
  transition: all 0.4s ease;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 15px 0;
  display: inline;
  width: auto;
  pointer-events: none;
}


.locator-search .field-wrapper.text-wrapper label.focus {
  margin-top: 3px;
  font-size: 10px;
  font-weight: 400;
}

.locator-filters input,
.locator-search input,
.locator-search select {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.locator-filters input#form-zipcode,
.locator-search input#form-zipcode {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  height: 56px;
  line-height: 24px;
  padding: 16px;
  margin-top: 0;
  z-index: 2;
  background: transparent;
  color: var(--text-color);
  font-family: 'open-sans', sans-serif;
}

.locator-select-group.mile-block {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 56px;
}

.locator-select-group.mile-block .select {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 0 14px 16px;
  line-height: 24px;
  cursor: pointer;
  height: 100%;
  user-select: none;
  background-color: var(--background-color);
  position: relative;
}

.locator-select-group.mile-block .select .select-arrow {
  background-color: #3c7790;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 9px 20px;
}

.locator-select-group.mile-block .select .select-arrow::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  border-right: 2px solid var(--background-color);
  border-bottom: 2px solid var(--background-color);
  width: 12px;
  height: 12px;
  transform: rotate(45deg) scale(1);
  transition: transform 0.2s ease, margin-top 0.2s ease;
}

.locator-select-group.mile-block .selectHide {
  display: none;
}

.locator-select-group.mile-block .dropdown-items {
  top: 8px;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  padding: 0.5rem 0;
  position: relative;
  background: var(--background-color);
  z-index: 2;
}

.locator-select-group.mile-block .dropdown-items .item {
  font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 4px 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    white-space: normal;
    color: #212529;
    cursor: pointer;
    user-select: none;
    font-family: 'open-sans', sans-serif;
}

.locator-select-group.mile-block .dropdown-items .item.selectedMiles,
.locator-select-group.mile-block .dropdown-items .item:hover {
  background-color: var(--link-color);
  color: var(--background-color);
}

.locator-filters .button-wrapper input,
.locator-search .button-wrapper input {
  width: 100%;
  height: 56px;
  border: 0;
  border-radius: 4px;
  background: var(--brand-rose);
  color: var(--background-color);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--brand-rose);
  border: 2px solid var(--background-color);
  border-radius: 75pt;
  color: var(--background-color);
  display: inline-block;
  font-family: open-sans, sans-serif;
  padding: 14px;
  transition: all .2s ease-in-out;
}

.locator-search .button-wrapper :hover {
  background-color: var(--background-color);
  border-color: var(--brand-rose);
  color: var(--brand-rose);
  text-decoration: none;
}

@media only screen and (min-width: 450px)
and (max-width: 991px) { 
  .field-wrapper.button-wrapper {
    text-align: center;
  }
  .locator-filters .button-wrapper input {
    max-width: 260px;
    margin: auto;
  }
}

@media (min-width: 989px) {
  .locator-search {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .locator-search .button-wrapper {
    width: 25%;
    font-size: 16px;
    margin: 0;
    text-align: center;
    line-height: 20px;
  }

  .locator-search .select-wrapper {
    width: 180px;
  }

  .locator-search .field-wrapper.text-wrapper {
    max-width: 58.33%;
  }

  .locator-search .button-wrapper input {
    max-width: 345px;
  }

  .locator-select-group.mile-block {
    max-width: 16%;
  }
}

/* ------------------------------------------------------------------
   Filters
------------------------------------------------------------------- */

.locator-filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.locator-filters .selection-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.locator-filters input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url('https://www.vyeptihcp.com/etc.clientlibs/vyepti-picl/clientlibs/clientlib-site/resources/icons/checkbox.svg');
  background-size: 100%;
}

.locator-filters .checkmark {
  position: absolute;
  top: 18.5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url('https://www.vyeptihcp.com/etc.clientlibs/vyepti-picl/clientlibs/clientlib-site/resources/icons/checkbox.svg');
  background-size: 100%;
}

.labelWraper,
#form-hidehospital-label {
  margin-left: 33px;
}

.filterDescpOne,
.filterDescpTwo {
  margin-left: -33px;
}

.locator-filters label {
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 16px;
}

.locator-filters label span {
  color: var(--brand-rose);
  font-weight: 700;
}

.locator-filters label img {
  width: 17px;
  position: relative;
  vertical-align: middle;
  bottom: 3px;
}



.locator-filters .filterDescpOne img,
.locator-filters .filterDescpTwo img {
  width: 17px;
  position: relative;
  vertical-align: middle;
  bottom: 3px;

}

.selectHide {
  display: none;
}

.locator-filters .error {
  text-align: center;
  color: var(--brand-rose);
  margin: 24px 0 0;
  width: 100%;
  padding: 0 15px;
  line-height: 24px;
  position: relative;
  font-family: 'open-sans', sans-serif;
}

@media (min-width: 989px) {

  .filterDescpOne,
  .filterDescpTwo {
    margin-left: 0;
  }
}

/* ------------------------------------------------------------------
   Legend
------------------------------------------------------------------- */

.locator-legend {
  display: flex;
  background: var(--card-bg-light);
  padding: 12px 0 12px 9px;
  border-bottom: 1px solid var(--text-color);
  border-top-right-radius: 10px;
  justify-content: space-around;
  border-top-left-radius: 10px;
  flex-direction: column;
}

.locator-legend .field-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'open-sans', sans-serif;
  max-width: 100%;
  padding-bottom: 16px;
}

.locator-legend .field-wrapper img {
  width: 39px;
  margin-right: 8px;
}

@media (min-width: 989px) {
  .locator-legend {
    border-top-left-radius: 0;
    flex-direction: row;
  }

  .locator-legend .field-wrapper {
    max-width: 168px;
    padding-bottom: 0;
  }
}

/* ------------------------------------------------------------------
   Map & Results
------------------------------------------------------------------- */

.locator-main {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.locator-map {
  min-height: 420px;
  border: 1px solid var(--text-color);
  ;

  overflow: hidden;
  background: #f5f5f5;
  padding: 0;

}

.locator-results {
  border-radius: 6px;
  padding: 20px;
  height: 560px;
  background: var(--background-color);
  text-align: center;
  overflow: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.print-results {
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid var(--link-color);
  color: var(--link-color);
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 6px;
}

.locator-results .noResults-icon-img {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
}

.locator-results .locator-no-results {
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
  margin: 0;
  padding-bottom: 8px;
}

.locator-welcome-title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: var(--text-color);
  margin: 0;
  padding-bottom: 8px;
}

.locator-welcome-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--text-color);
  font-weight: normal;
}

/* ------------------------------------------------------------------
  Desktop
------------------------------------------------------------------- */

@media (min-width: 989px) {

  .locator-main {
    display: grid;
    grid-template-columns: minmax(0, 2fr) 555px;
    gap: 0px;
    align-items: start;
    border: 0;
  }

  .locator-map,
  .locator-results-wrap {
    min-height: 650px;
    border: 1px solid var(--text-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
  }


  .locator-map {
    border-radius: 6px;
    max-width: 555px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .locator-header h2 {
    font-size: 36px;
  }
}

/* Locator results */
/* --- Results Panel & Map Layout --- */
.locator-results .locator-results-list {
  padding: 16px 0px 16px 0px;
}


.locator-results .locator-results-list .locator-result-item {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin: 16px 0;
  overflow: hidden;
  cursor: pointer;
  background: var(--background-color);
}

.locator-results .locator-results-list .locator-result-item.gradientBorder {
  background: linear-gradient(to right, #f16464, var(--brand-rose));
}

.locator-result-item-inner {
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  border-radius: 10px;
  padding: 11px 24px 21px 11px;
}

.locator-results .locator-results-list .locator-result-item:hover,
.locator-results .locator-results-list .locator-result-item:hover .locator-result-item-inner,
.locator-results .locator-results-list .locator-result-item.gradientBorder:hover .locator-result-item-inner {
  background-color: var(--card-bg-light);
}

.locator-result-left {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

.locator-result-left::before {
  content: "";
  width: 32px;
  height: 40px;
  background-image: url("https://www.vyepti.com/etc.clientlibs/vyepti-picl/clientlibs/clientlib-site/resources/icons/Pin_Teal_Solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.locator-result-left span {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: var(--background-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.locator-result-item.gradientBorder .locator-result-left::before {
  background-image: url("https://www.vyepti.com/etc.clientlibs/vyepti-picl/clientlibs/clientlib-site/resources/icons/Pin_Red_Solid.svg");
}

.locator-result-right {
  text-align: left;
  width: 100%;
}

.locator-result-right h3 {
  margin-top: 0px;
  color: var(--brand-teal-muted);
  max-width: 100%;
  word-break: break-word;
  font-size: 18px;
  padding-bottom: 8px;
  line-height: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.locator-result-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locator-results .locator-title-wrap .locator-title {
  text-align: center;
  color: var(--brand-dark);
}

.locator-results .typeText {
  font-size: 16px;
  line-height: 16px;
  color: var(--brand-teal-muted);
  font-style: italic;
}

.locator-results .milesText {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 8px;
  font-style: italic;
}

.locator-result-address {
  display: block;
  padding-bottom: 8px;
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-right: 88px;
  font-weight: 700;
  color: var(--brand-teal-muted);
  text-decoration: underline;
  text-underline-position: under;
  margin-top: 0px;
}

.locator-result-phone {
  margin: 0px;
  float: left;
}

.locator-result-phone a {
  text-decoration: underline;
}

.locator-result-phone span {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  color: var(--border-color-dark);
}

.weblink {
  position: relative;
  float: right;
}

.weblink::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url('https://www.vyepti.com/etc.clientlibs/vyepti-picl/clientlibs/clientlib-site/resources/icons/Global_Icon_External_Link_Alt_Teal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
}

.locator-results .locator-title-wrap .locator-result-disclaimer {
  text-align: left;
  line-height: 22px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 24px;
  color: var(--text-color);
}

.locator-results .locator-title-wrap .locator-result-disclaimer .red-color {
  color: var(--brand-rose);
}

.locator-welcome-title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--border-color-dark);
  margin: 0 0 12px 0;
  font-weight: 700;
}

.locator-welcome-text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--border-color-dark);
  font-weight: normal;
  margin: 0;
}


@media(min-width:989px) {
  .locator-results .locator-results-list {
    padding: 16px 36px 0 2px;
  }
  .print-result-btn {
        display: flex;
    justify-content: end;
  }
}

.locator-search input[type="text"]:focus {
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    color: #495057;
    outline: 0;
}